.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.formContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  background-color: aliceblue;
  background-image: url(../../assets/contactanos/pngwing.com3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

h2 {
  width: 100%;
  font-size: clamp(1rem, 1.2rem, 1.5rem);
}
p {
  width: 100%;
  font-size: clamp(0.85rem, 1rem, 1.5rem);
}

.form {
  width: 100%;
  min-width: 80%;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  min-width: 300px;
}
@media (max-width: 768px) {
  .inputsContainer {
    width: 70%;
  }
}
.inputGroupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.inputGroupIcon {
  font-size: clamp(1rem, 1.125rem + 0.25vw, 1.5rem);
}

.groupInput {
  border: 2px solid silver;
  background-color: #eae9ef;
  text-align: center;
  font-size: clamp(0.8rem, 1rem, 1.2rem);
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #161616;
  width: 80%;
}

.textArea {
  border: 2px solid silver;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.requiredField {
  color: #de3434;
}

.passwordSupportingText {
  font-size: xx-small;
  text-align: center;
}

.registerBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #da4141;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 50%;
}
