.aboutSummary {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    margin-top: 6.94vw;
    padding: 0 6.94vw 2rem;
}
.aboutSummary img {
    width: 100%;
}
.aboutTitleSection {
    color: #FFB23F;
    font-weight: bold;
    font-size: 1.125rem;
}
.textContainer {
    display: flex;
    flex-direction: column;
}
.textContainer h1 {
    margin-bottom: 2.5rem;
}
.bigText {
    font-size: 2.75rem;
    font-weight: bold;
}
.ourNumbers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3.188rem;
    row-gap: 1rem;
}
.ourNumbers div{
    display: grid;
}
.ourNumbersTime{
    width: min-content;
    color: #615d6f;
}
.leftColumn, .rightColumn {
    width: 100%;
    max-width: 580px;
}
.leftColumn {
    display: grid;
    align-content: space-between;
}
.leftColumn img {
    margin-top: 2rem;
}
.rightColumn {
    display: grid;
    gap: 3.563rem;
}

@media (min-width:720px) {
    .ourNumbers {
        justify-content: flex-end;
    }
}