.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  min-width: 300px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 10px 0;
}

.card p {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: #555;
}

.card a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 10px;
  background-color: #000000;
  color: #ffb23f;
}

.card a:hover {
  background-color: #262626;
  color: #FFE2B8;
  transform: scale(1.01);
  transition: 0.5s;
}
